@model LM.Models.LM.Software

@{
    ViewData["Title"] = "Delete";
}

<div class="body">
    <ol class="breadcrumb breadcrumb-bg-cyan">
        <li><a asp-controller="Dashboard" asp-action="Index"><i class="material-icons">home</i> Dashboard</a></li>
        <li><a asp-action="Index"> Softwares</a></li>
        <li class="active">Delete (@Model.Name)</li>
    </ol>
</div>

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2 class="col-red">
                    <b>DELETE SOFTWARE: </b>@Model.Name
                    <small>Deleted data will not be able to be recovered</small>
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:void(0);">Action</a></li>
                            <li><a href="javascript:void(0);">Another action</a></li>
                            <li><a href="javascript:void(0);">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body">
                <div class="alert alert-danger">
                    Are you sure you want to delete <strong>@Model.Name?</strong>
                </div>
            </div>
        </div>
        <form asp-action="Delete">
            <a asp-action="Index" class="btn btn-info">Back to List</a>
            <input type="hidden" asp-for="SoftwareId" />
            <input type="submit" value="Delete" class="btn btn-danger" />
        </form>
    </div>
</div>
