@model LM.Models.LM.Software

@{
    ViewData["Title"] = "Edit";
}

<div class="body">
    <ol class="breadcrumb breadcrumb-bg-cyan">
        <li><a asp-controller="Dashboard" asp-action="Index"><i class="material-icons">home</i> Dashboard</a></li>
        <li><a asp-action="Index"> @(Model.GetType().Name + "s")</a></li>
        <li class="active">Edit</li>
    </ol>
</div>

<!-- Input -->
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    EDIT @Model.GetType().Name.ToUpper()
                    <small>Fill the details of the @Model.GetType().Name.ToLower()</small>

                </h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:void(0);">Action</a></li>
                            <li><a href="javascript:void(0);">Another action</a></li>
                            <li><a href="javascript:void(0);">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body">
                <div class="row clearfix">
                    <div class="col-sm-6">
                        <form asp-action="Edit" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="SoftwareId" />
                            <input type="hidden" asp-for="AppUserId" />
                            <div class="form-group">
                                <div class="form-line">
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                    <label asp-for="Name" class="control-label"></label>
                                    <input asp-for="Name" class="form-control" placeholder="Software name" />
                                </div>

                                <div class="form-line m-t-50">
                                    <span asp-validation-for="Version" class="text-danger"></span>
                                    <label asp-for="Version" class="control-label"></label>
                                    <input asp-for="Version" class="form-control" placeholder="Version (eg. 1.02)" />
                                </div>

                                <div class="form-line m-t-50">
                                    <span asp-validation-for="Producer" class="text-danger"></span>
                                    <label asp-for="Producer" class="control-label"></label>
                                    <input asp-for="Producer" class="form-control" placeholder="Producer (eg. Microsoft)" />
                                </div>

                                <div class="form-line m-t-50">
                                    <span asp-validation-for="LicenseStart" class="text-danger"></span>
                                    <label asp-for="LicenseStart" class="control-label">Start of License Date</label>
                                    <input asp-for="LicenseStart" class="form-control" type="date" placeholder="" />
                                </div>

                                <div class="form-line m-t-50">
                                    <span asp-validation-for="LicenseEnd" class="text-danger"></span>
                                    <label asp-for="LicenseEnd" class="control-label">End of License Date</label>
                                    <input asp-for="LicenseEnd" class="form-control" type="date" placeholder="" />
                                </div>

                                <div class="form-line m-t-50">
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                    <label asp-for="Description" class="control-label"></label>
                                    <textarea asp-for="Description" rows="4" class="form-control no-resize" placeholder="Describe the software"></textarea>
                                </div>

                                <div class="form-line m-t-50">
                                    <span asp-validation-for="UseCases" class="text-danger"></span>
                                    <label asp-for="UseCases" class="control-label">Use Cases</label>
                                    <textarea asp-for="UseCases" rows="4" class="form-control no-resize" placeholder="List the use cases of this software"></textarea>
                                </div>

                                <div class="form-line m-t-50">
                                    <label asp-for="TechAreaId" class="control-label">Teach Area (eg. Network)</label>
                                    <select asp-for="TechAreaId" class="form-control" asp-items="ViewBag.TechAreaId">
                                        <option selected disabled>Select a tech area </option>
                                    </select>
                                </div>

                                <div class="form-line m-t-50">
                                    <label asp-for="TipiId" class="control-label">Type (eg. OS)</label>
                                    <select asp-for="TipiId" class="form-control" asp-items="ViewBag.TipiId">
                                        <option selected disabled>Select a tech area </option>
                                    </select>
                                </div>

                                <div class="form-line m-t-50">
                                    <label asp-for="Teams" class="control-label">Select all teams that will be using this software</label>
                                    <select multiple name="teams" class="form-control" asp-items="ViewBag.TeamId">
                                        <option disabled>Select teams</option>
                                        <option value="-1">All</option>
                                    </select>
                                    
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Save" class="btn bg-amber" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- #END# Input -->

<div>
    <a class="btn btn-success" asp-action="Index">Back to List</a>
</div>

