@model LM.Areas.Admin.ViewModels.DashboardViewModel

@{
    ViewData["Title"] = "Index";
}

<div class="body">
    <ol class="breadcrumb breadcrumb-bg-pink">
        <li><a asp-action="Index"><i class="material-icons">home</i> Dashboard</a></li>
    </ol>
</div>

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    ITEMS
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">

                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box-4">
                            <div class="icon">
                                <i class="material-icons col-indigo">equalizer</i>
                            </div>
                            <div class="content">
                                <div class="text">
                                    <a asp-controller="Departments" asp-action="Index">DEPARTMENTS</a>
                                </div>
                                <div class="number count-to" data-from="0" data-to="@Model.Departments.Count()" data-speed="1000" data-fresh-interval="20">@Model.Departments.Count()</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box-4">
                            <div class="icon">
                                <i class="material-icons col-indigo">tag_faces</i>
                            </div>
                            <div class="content">
                                <div class="text">
                                    <a asp-controller="Departments" asp-action="Index">USERS</a>
                                </div>
                                <div class="number count-to" data-from="0" data-to="@Model.AppUsers.Count()" data-speed="1000" data-fresh-interval="20">@Model.Departments.Count()</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

